#wrapper {
	text-align: center;
}
h1 {
	color: rgb(2, 132, 130);
	text-align: center;
}
h2 {
	color: #ffd700;
	text-align: center;
}
nav {
	background-color: #911855;
}
a {
	background-color: #BA160C;
	color: white;
	padding: 35px;
	display: inline-block;
	text-decoration: none;
	float: left;
}
p{
	text-align: center;
}
a:hover {
	background-color: #ffbf00;
}
.board {
	height: 50%;
	width: 50%;
	display: inline-block;
}
.card {
	height: 200px;
	width: 150px;
	border-color: #000000;
	border: 1px;
	border-style: solid;
	background: linear-gradient(to bottom right, #1d6aad, #a11dad);
	border-radius: 10px;
	float: left;
	margin: 8%;
}
.footer {
	text-align: center;
	background: linear-gradient(to bottom right, #961704, #fff200);

}
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
#Name {
	color: #ff0000;
}
img {
	height: 200px;
 	 width: 150px;
}